[submodule "Obsidian-latex-suite-snippets"]
	path = Obsidian-latex-suite-snippets
	url = https://github.com/GeoffClements/Obsidian-latex-suite-snippets.git
[submodule "Latex-Utilities"]
	path = Latex-Utilities
	url = ./Latex-Utilities/
